
<div class="container footer-falke-section" id="footerstyle">
    <div class="row">
      <div class="col-md-2">Slipseknuden</div>
      <div class="col-md-2">Slipsevej 79</div>
      <div class="col-md-1">4300</div>
      <div class="col-md-1">Holbæk</div>
      <div class="col-md-2">info@slipseknuden.dk</div>
      <div class="col-md-2">wwww.slipseknuden.dk</div>
      <div class="col-md-2">Tlf. 88 99 66 44</div>
    </div>
  </div>