<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">

		<ul class="nav navbar-nav" id="atag">
			<li><a href="/">Hjem</a></li>
			<li><a href="/omslipseknuden">Om Slipseknuden</a></li>
			<li><a href="/garanti">Garanti</a></li>
			<li><a href="/kontakt">Kontakt</a></li>
			<li><a href="/nyheder">Nyheder</a></li>
			<li><a href="/produkter">Produkter</a></li>
		</ul>
	  
	</div>

<div class="col-md-12" id="ingenfarve">
<img class="col-md-3" src="images/logo.jpg">
</div>

</nav>


