<main>
    <div class="col-md-3">
        <h4 class="nav-h4">PRODUKTER</h4>
        <ul id="ul_style">
            <li>
                <a href="#">Alle</a>
            </li>
            <li>
                <a href="#">Shoon</a>
            </li>
            <li>
                <a href="#">Korea Special</a>
            </li>
            <li>
                <a href="#">US, Imports</a>
            </li>
            <li>
                <a href="#">Sleek Fabrics UK</a>
            </li>
        </ul>

        <div class="col-md-12 rykned3 capslock">


            <p>
                <b> Slipsknuden online</b>
            </p>

            <p>
                Vi lancerer nu vores hjemmesiden med billeder af vores aller fineste slips. <br><br><b>LÆS MERE...</b><br><br><br><br>
            </p>

            <p class="rykned2">
                <b> Slipsknuden online</b>
            </p>

            <p>
                Vi lancerer nu vores hjemmesiden med billeder af vores aller fineste slips. <br><br><b>LÆS MERE...</b>
            </p>
        </div>


    </div>



    <div class="col-md-9 rykned capslock">



        <div class="col-md-6 center t-a-l">
            <img src="images/1_klassisk_brun.jpg">
            <p><b>Sleek Fabrics UK</b></p>
            <p>Sort nat, slips til den ultra stilbeviste</p>
            <p class="shieeeet"><b>DKK 900 kr</b></p>
            <button class="info">INFO</button>
        </div>


        <div class="col-md-6 center ryknedd t-a-l">
                <img src="images/2_stribet_stil.jpg">
                <p><b>Sleek Fabrics UK</b></p>
                <p>Sort nat, slips til den ultra stilbeviste</p>
                <p class="shieeeet"><b>DKK 900 kr</b></p>
                <button class="info">INFO</button>
            </div>

        <p class="fuck-caps">
            <b>Hvor startede det hele henne - hvem var de første der bar slips?</b>
        </p>
        <p class="fuck-caps">

            Man skal helt tilbage til omkring år 1660, hvor kong Ludvig den 14. regerede Frankrig, for at finde starten på det hele.
            Kongen gik utrolig meget op i mode og beklædning. Efter at kroatiske soldater havde besejret Det Osmanniske Rige,
            deltog kongen i et optog hvor alle soldaterne skulle gå forbi. Her bemærkede han at alle soldaterne bar et stykke
            rødt stof om halsen. Kongen var så begejstret for det lille stykke klæde, at han valgte at hans kongelige regiment
            skulle bære halsklude i farven rød.</p>


        <p class="fuck-caps">
            Halskluden blev hurtig populær i resten af Europa, og var man en herre med stil, skulle man bære det. Efterhånden som tiden
            gik og moden skiftede, blev kluden mere kraftig. Da man når til 1800 tallet, var der en modeskaber fra England,
            som af pratiske årsager valgte at gøre kluden mindre, så den ikke var så fremtrædende - det har udviklet sig
            til det vi i dag kalder slips. I dag er det ikke længere noget der kun bæres af en bestemt gruppe mennesker eller
            til jakkesæt. I dag bæres det af mange forskellige typer mennesker og slips findes i næsten lige så mange udgaver.</p>

    </div>
</main>