<main>
        <div class="col-md-3">
            <h4 class="nav-h4">PRODUKTER</h4>
            <ul id="ul_style">
                <li>
                    <a href="#">Alle</a>
                </li>
                <li>
                    <a href="#">Shoon</a>
                </li>
                <li>
                    <a href="#">Korea Special</a>
                </li>
                <li>
                    <a href="#">US, Imports</a>
                </li>
                <li>
                    <a href="#">Sleek Fabrics UK</a>
                </li>
            </ul>
    
            <div class="col-md-12 no-pad">
    
                <img width="120px" style="float: left" src="images/1_klassisk_brun.jpg">
                <div style="font-size: 12px">
                <p>
                    <b>Shoon Slips</b>
                </p>
                <p>Klassisk brun</p>
                <p>
                    <b>DKK 900 kr</b>
                </p>
                </div>
                <button class="info ryknedd">INFO</button>
    
    
    
                <img width="120px" style="float: left" src="images/2_stribet_stil.jpg">
                <div style="font-size: 12px">
                <p>
                    <b>Shoon Slips</b>
                </p>
                <p>Klassisk brun</p>
                <p>
                    <b>DKK 600 kr</b>
                </p>
                </div>
                <button class="info">INFO</button>
    
            </div>
    
    
        </div>


    <div class="col-md-7 rykned">


        <div class="col-md-5">

            <h3 class="center">Kontakt</h3>
            <form onsubmit="return validate(this)">
                <input style="border-radius: 50px; margin-bottom: 50px;" class="col-md-12" required name="navn" type="name" id="navn" placeholder="Navn">
                <input style="border-radius: 50px; margin-bottom: 50px;" class="col-md-12" required name="email" type="email" id="email" placeholder="Email">
                <textarea style="border-radius: 50px; margin-bottom: 50px;" class="col-md-12" required id="besked" name="besked" placeholder="Skriv til os..."></textarea>
                <input style="border-radius: 50px; margin-bottom: 50px;" class="col-md-12" type="submit" id="gem">
            </form>
            
            <p style="text-align: right">Returadressen er:
                <br><br>
                <b> Slipseknuden<br>
                    <br> Slipsevej 79<br>
                    <br> 4000 Holbæk<br>
                    <br> Telefon: 5944-1234<br>
                    <br> slips@slipseknuden.dk<br>
                </b>
            </p>


        </div>

        <div class="col-md-5">

            <img src="images/10_tern.jpg">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9010.84667146294!2d12.0844377!3d55.62443259999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46525fe8d848f9b1%3A0x3848d43c8bd68ab0!2sHTX+Roskilde!5e0!3m2!1sda!2sdk!4v1516963569480" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>











    </div>
</main>