<main>
        <div class="col-md-3">
            <h4 class="nav-h4">PRODUKTER</h4>
            <ul id="ul_style">
                <li>
                    <a href="#">Alle</a>
                </li>
                <li>
                    <a href="#">Shoon</a>
                </li>
                <li>
                    <a href="#">Korea Special</a>
                </li>
                <li>
                    <a href="#">US, Imports</a>
                </li>
                <li>
                    <a href="#">Sleek Fabrics UK</a>
                </li>
            </ul>
    
            <div class="col-md-12 no-pad">
    
                <img width="120px" style="float: left" src="images/1_klassisk_brun.jpg">
                <div style="font-size: 12px">
                <p>
                    <b>Shoon Slips</b>
                </p>
                <p>Klassisk brun</p>
                <p>
                    <b>DKK 900 kr</b>
                </p>
                </div>
                <button class="info ryknedd">INFO</button>
    
    
    
                <img width="120px" style="float: left" src="images/2_stribet_stil.jpg">
                <div style="font-size: 12px">
                <p>
                    <b>Shoon Slips</b>
                </p>
                <p>Klassisk brun</p>
                <p>
                    <b>DKK 600 kr</b>
                </p>
                </div>
                <button class="info">INFO</button>
    
            </div>
    
    
        </div>


<div style="padding-left: 300px">
    <h3>NYHEDER</h3>

    <p>
        <span>02/01/2014 </span><br>

        Slipsknuden online. Vi lancerer nu vores hjemmesiden med billeder af vores aller fineste slips. LÆS MERE...
    </p>
    <br>

    <p>
        <span>15/04/2013</span><br>

        Slips! Nye slips i vores sortiment. LÆS MERE...
    </p>

    <br>

    <p>
        <span>7/03/2011</span><br>

        Se her! Nye modeslips er på vej til hjemmesiden. LÆS MERE…
    </p>

    <br>

    <p>
        <span>30/08/2010</span><br>
        Nu er de her! Se vores nyeste slips under produkter! LÆS MERE…
    </p>


    <img src="images/10_tern.jpg">
</div>


</main>